<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
<!-- 	<script>
		setTimeout(function(){
			window.location.reload(1);
		}, 5000);
	</script> -->
</head>
<body>
	<nav class="navbar">

	</nav>
	<div class="container">
		<section id="section1" class="panel panel-default">

			<div class="panel-heading">
				<div class="container">
					<h3 class="panel-title">POSTing a file to Amazon S3</h3>
				</div>
			</div>
			<div class="panel-body">
				<form action="https://<%=bucket%>.s3.amazonaws.com/" method="POST" id="sign-up-form" class="form-horizontal" enctype="multipart/form-data">	

					<div class="container">
						<% fields.forEach(function(elem){ %>
						<input type="hidden" name="<%= elem.name  %>" value="<%=elem.value %>"/>
						<%}); %> 

						<div class="col-xs-5">
							<div class="form-group">
								<label for="exampleInputFile">File input</label>
								<input type="file" name="file">
								<p class="help-block">File will be send to the bucket <%=bucket%> </p>
							</div>


						</div>
					</div>

					<div class="container">
						<div class="col-xs-3">
							<input type="submit" class="btn  btn-primary btn-block" value="Confirm"/>
						</div>
					</div>
				</form>
			</div>

			<footer class="panel-footer">
				
			</footer>
		</section>

		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Your files</h3>
			</div>
			<div class="panel-body">

				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Key</th>
						</tr>
					</thead>
					<tbody id="files-table-body">
						<% files.forEach(function(elem){ %>
						<tr>
							<td><%= elem.name %></td>
							<td class="key"><%= elem.key %></td>
							<td>
								
								<div class="checkbox">
									<input type="checkbox" value="">
								</div>

							</td>
						</tr>
						<%}); %> 
					</tbody>
				</table>

			</div>
			<footer class="panel-footer">
				<button id="testBtn" onclick="sendClick" class="btn btn-primary btn-block">Process selected files</button>
				<script>
					testBtn.onclick = function() {

						var keys = "";
						var checkboxes = $("#files-table-body").find("input");
						var items = $("#files-table-body").find(".key");
						console.log(items);

						for (var i=0; i < checkboxes.length; i++){
							if (checkboxes[i].checked) {
								if (keys != "") {
									keys += ",";
								}
								keys += items[i].innerText;
							}
						}

						$.ajax({
							method: "POST",
							url: "http://127.0.0.1:8080/sendFiles",
							data: { fileNames: keys}
						})
						.done(function( msg ) {
							console.log("Files was successfully sended");
						});
					};
				</script>
			</footer>
		</div>

	</div>		
</body>
</html>
