<html>
<head>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/8b5e50a5e9.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<script>
		
		$(document).on("click", ".clickable-row", function (e) {
		

		    	var tds = $(this).find('td');
		    	var link = tds[2].innerText;
		    	var title = tds[0].innerText;
		    	console.log(title);
		    	$(".modal-body #image").attr('src',link);
		    	$(".modal-header #title").text(title);

		});

	</script>
</head>
<body>
	<nav class="navbar">

	</nav>
	<div class="container">

		<section id="section1" class="panel panel-default">
			<div class="panel-heading">
				<div class="container">
					<h3 class="panel-title">POSTing a file to Amazon S3</h3>
				</div>
			</div>
			<div class="panel-body">
				<form action="https://<%=bucket%>.s3.amazonaws.com/" method="POST" id="sign-up-form" class="form-horizontal" enctype="multipart/form-data">	

					<div class="container">
						<% fields.forEach(function(elem){ %>
						<input type="hidden" name="<%= elem.name  %>" value="<%=elem.value %>"/>
						<%}); %> 

						<div class="col-xs-5">
							<div class="form-group">
								<label for="exampleInputFile">File input</label>
								<input type="file" name="file" accept=".png">
								<p class="help-block">File will be send to the bucket <%=bucket%> </p>
							</div>


						</div>
					</div>

					<div class="container">
						<div class="col-xs-3">
							<input type="submit" class="btn  btn-primary btn-block" value="Confirm"/>
						</div>
					</div>
				</form>
			</div>

			<footer class="panel-footer">
				
			</footer>
		</section>

		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Your files</h3>
			</div>
			<div class="panel-body">

				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Key</th>
						</tr>
					</thead>
					<tbody id="files-table-body">
						<% files.forEach(function(elem){ %>
						<tr class="clickable-row" >
							<td style="vertical-align: middle; line-height: 36px;"><%= elem.name %></td>
							<td class="key"style="vertical-align: middle; line-height: 36px;"><%= elem.key %></td>
							<td class="url hidden" style="vertical-align: middle; line-height: 36px;"><%= elem.url %></td>
							<td><i class="fa fa-picture-o " aria-hidden="true" data-toggle="modal" data-target="#imgModal" 
								style="vertical-align: middle; line-height: 36px; cursor: pointer;"></i></td>
							<td>
								
								<div class="checkbox">
									<input type="checkbox" value="">
								</div>

							</td>
						</tr>
						<%}); %> 
					</tbody>
				</table>

			</div>
			<footer class="panel-footer">
				<button id="testBtn" class="btn btn-primary btn-block">Process selected files</button>
				<script>
					testBtn.onclick = function() {

						var keys = "";
						var checkboxes = $("#files-table-body").find("input");
						var items = $("#files-table-body").find(".key");
						console.log(items);

						for (var i=0; i < checkboxes.length; i++){
							if (checkboxes[i].checked) {
								if (keys != "") {
									keys += ",";
								}
								keys += items[i].innerText;
							}
						}

						if ( keys != "") 
							$.ajax({
								method: "POST",
								url: "http://127.0.0.1:8080/sendFiles",
								data: { fileNames: keys}
							})
						.done(function( msg ) {
							alert("Files was sent to processing");
							console.log("Files was successfully sent");
							setTimeout(function(){
								window.location.reload(1);
							}, 5000);
						});
					};
				</script>
			</footer>
		</div>

	</div>	

	<!-- Modal -->
	<div id="imgModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 id="title" class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<img id="image" src="" alt="image" style="width: 400px; height: 264px;" class="img-responsive">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

</body>
</html>
